<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="so101_ros2_control" params="
                 name:=so101
                 prefix:=''
                 use_sim:=false
                 sim_gazebo:=false
                 sim_gazebo_classic:=false
                 use_mock_hardware:=false
                 mock_sensor_commands:=false
                 initial_positions_file
                 controller_config_file
                 usb_port:=/dev/ttyACM0
                 recalibrate:=false
                 arm:=follower
                 namespace:=''
                 role:=follower
                 ">

        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <!-- Plugin qui crée le controller_manager dans Gazebo Classic | cette section est utilisée après le déclenchement de gazebo_ros spawn_entity.py --> 
        <xacro:if value="${use_sim and sim_gazebo_classic}">
            <gazebo>
                <plugin
                    filename="libgazebo_ros2_control.so"
                    name="gazebo_ros2_control">
                    <ros>
                        <namespace>/${namespace}</namespace>
                    </ros>
                    <parameters>${controller_config_file}</parameters>
                </plugin>
            </gazebo>
        </xacro:if>

        <!-- Plugin qui crée le controller_manager dans Gazebo Sim (moderne) | cette section est utilisée après le déclenchement de ros_gz_sim create --> 
        <xacro:if value="${use_sim and sim_gazebo}">
            <gazebo>
                <plugin
                    filename="gz_ros2_control-system"
                    name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <ros>
                        <namespace>/${namespace}</namespace>
                    </ros>
                    <parameters>${controller_config_file}</parameters>
                </plugin>
            </gazebo>
        </xacro:if>

        <ros2_control name="${name}" type="system">
            <hardware>

                <!-- Gazebo Classic -->
                <xacro:if value="${use_sim and sim_gazebo_classic}">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>

                <!-- Gazebo Sim (moderne) -->
                <xacro:if value="${use_sim and sim_gazebo}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>

                <!-- Mock Hardware -->
                <xacro:if value="${use_mock_hardware and not use_sim}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <!-- <param name="mock_sensor_commands">${mock_sensor_commands}</param> -->
                    <param name="calculate_dynamics">true</param>
                </xacro:if>

                <!-- Vrai Hardware -->
                <xacro:if value="${not use_sim and not use_mock_hardware}">
                    <plugin>my_so101_robot_control_package/MySo101RobotHardware</plugin>
                    <param name="usb_port">${usb_port}</param>
                    <param name="recalibrate">${recalibrate}</param>
                    <param name="robot_name">so101_${arm}</param>
                    <param name="role">${role}</param>
                </xacro:if>

            </hardware>

            <joint name="${prefix}joint1">
                <xacro:if value="${role == 'follower'}">
                    <command_interface name="position"/>
                </xacro:if>  
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${prefix}joint2">
                <xacro:if value="${role == 'follower'}">
                    <command_interface name="position"/>
                </xacro:if>                
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${prefix}joint3">
                <xacro:if value="${role == 'follower'}">
                    <command_interface name="position"/>
                </xacro:if>                
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${prefix}joint4">
                <xacro:if value="${role == 'follower'}">
                    <command_interface name="position"/>
                </xacro:if>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${prefix}joint5">
                <xacro:if value="${role == 'follower'}">
                    <command_interface name="position"/>
                </xacro:if>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${prefix}joint6">
                <xacro:if value="${role == 'follower'}">
                    <command_interface name="position"/>
                </xacro:if>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>
