<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="so101">

  <xacro:arg name="name" default="so101"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="sim_gazebo" default="true"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="initial_positions_file" default="$(find so101_robot_description)/urdf/initial_positions.yaml"/>
  <xacro:arg name="controller_config_file" default="$(find so101_robot_bringup)/config/controllers.yaml"/>
  <xacro:arg name="usb_port" default="/dev/ttyACM0"/>
  <xacro:arg name="recalibrate" default="false"/>
  <xacro:arg name="arm" default="follower"/>
  <xacro:arg name="role" default="follower"/>

  <xacro:include filename="$(find so101_robot_description)/urdf/my_so101_robot/my_so101_robot_macro.xacro" />
  <xacro:include filename="$(find so101_robot_description)/urdf/my_so101_robot/my_so101_robot_macro.ros2_control.xacro" />

  <link name="world"/>

  <xacro:so101 prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- position robot in the world -->
  </xacro:so101>

  <xacro:so101_ros2_control
    name="$(arg name)"
    prefix="$(arg prefix)"
    use_sim="$(arg use_sim)"
    sim_gazebo="$(arg sim_gazebo)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    initial_positions_file="$(arg initial_positions_file)"
    controller_config_file="$(arg controller_config_file)"
    usb_port="$(arg usb_port)"
    recalibrate="$(arg recalibrate)"
    arm="$(arg arm)"
    role="$(arg role)"
  />

</robot>
